sudo: required
before_install:
  - openssl aes-256-cbc -K $encrypted_c24e9b4c7993_key -iv $encrypted_c24e9b4c7993_iv -in gc-service-acc.json.enc -out gc-service-acc.json -d
  - sh scripts/gc-sdk.sh
  - gcloud auth activate-service-account --key-file gc-service-acc.json
